#ifndef _SECRETS_H_
#define _SECRETS_H_

// Please change these!
#define CRYPTO_KEY ((unsigned char *)"EnterYourVerySecretCryptoKeyHere")
#define CRYPTO_IV ((unsigned char *) "YourVerySecretIV")

#endif /* _SECRETS_H_ */