#ifndef APP_CREDENTIALS_H
#define APP_CREDENTIALS_H

/* The client_id and client_secret generated when registering the app */
const std::string client_id = [ENTER STRING HERE];
const std::string client_secret = [ENTER STRING HERE];

/* The redirect uri used when registering the app.
 * For clients that use device_flow, this should have been
 *   "<host>/device_flow_auth_cb"
 */
const std::string redirect_uri = "http://localhost:3000/device_flow_auth_cb";

#endif /* APP_CREDENTIALS_H */